<div class="title-form title-M">
    <p>Formulario para modificar datos personales</p>
</div>
<form class="form-modificar-usuario-container form-container one-column"  action="">
    <div class="form-first-column title-card">
        <div class="input">
            <p>Username:</p>
            <input type="text" class="input text-card" placeholder="Username">
        </div>
        <div class="input">
            <p>Nombre:</p>
            <input type="text" class="input text-card" placeholder="Nombre">
        </div>
        <div class="input">
            <p>Apellidos:</p>
            <input type="text" class="input text-card" placeholder="Apellidos">
        </div>
        <div class="input">
            <p>Dirección:</p>
            <textarea name="direccion" id="direccion" rows="3" class="textarea text-card" placeholder="Indique su dirección"></textarea>
        </div>
        <button class="button-form first-button title-card">Actualizar perfil</button>
    </div>
</form>