<div class="title-form title-M">
    <p>Formulario para dar de alta usuarios</p>
</div>
<form class="form-admin-alta-usuario-container form-container"  action="">
    <div class="form-first-column title-card">
        <div class="input">
            <p>Username:</p>
            <input type="text" class="input text-card" placeholder="Username">
        </div>
        <div class="input">
            <p>Nombre:</p>
            <input type="text" class="input text-card" placeholder="Nombre">
        </div>
        <div class="input">
            <p>Apellidos:</p>
            <input type="text" class="input text-card" placeholder="Apellidos">
        </div>
        <div class="input">
            <p>Dirección:</p>
            <textarea name="direccion" id="direccion" rows="3" class="textarea text-card" placeholder="Indique su dirección"></textarea>
        </div>
    </div>
    <div class="form-second-column title-card">
        <div class="input">
            <p>Zona:</p>
            <select name="zona" id="select-zona" class="select text-card">
                <option value="1"><span>Opcion 1</span></option>
                <option value="2"><span>Opcion 2</span></option>
            </select>
        </div>
        <div class="input">
            <p>Rol:</p>
            <select name="rol" id="select-rol" class="select text-card">
                <option value="1"><span>Opcion 1</span></option>
                <option value="2"><span>Opcion 2</span></option>
            </select>
        </div>
        <div class="input">
            <p>Almacen:</p>
            <select name="almacen" id="select-almacen" class="select text-card">
                <option value="1"><span>Opcion 1</span></option>
                <option value="2"><span>Opcion 2</span></option>
            </select>
        </div>
        <button class="button-form first-button title-card">Crear usuario</button>
    </div>
</form>