.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Divide la pantalla en 12 columnas de igual ancho */
    max-width: 1100px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}
  
app-header, app-body, app-footer {
    grid-column: 2 / span 10; /* Los componentes ocupan 10 columnas centradas */
}

app-header.grid-header-container {
    position: fixed; /* Cabecera fija en la parte superior */
    top: 0;
    height: 150px;
}

app-body {
    /* El cuerpo comienza en la segunda fila */
}

app-footer {
    height: auto;
}