<p>
  componente-uno works!
</p>
<h1>Titutlo H1 rojo css propio</h1>

<div class="light-gradient title-XL">TITULO XL</div>
<div class="title-M">TITULO M</div>
<div class="title-card">TITULO TARJETA</div>
<div class="text-description">Texto descriptivo</div>
<div class="text-card">Texto tarjeta</div>

<div class="button-shadow" style="border-radius: 16px; overflow: hidden; background-color:rgb(243, 234, 197); width: 100px; height: 60px;">Sombra boton</div>
<div class="avatar-shadow" style="border-radius: 16px; overflow: hidden; background-color:rgb(243, 234, 197); width: 100px; height: 60px;">Sombra avatar</div>
<div class="card-shadow" style="border-radius: 16px; overflow: hidden; background-color:rgb(243, 234, 197); width: 100px; height: 60px;">Sombra tarjeta</div>
<div class="profile-shadow" style="border-radius: 16px; overflow: hidden; background-color:rgb(215, 226, 244); width: 100px; height: 60px;">Sombra perfil</div>

<button class="first-button title-card">Boton principal</button><br>
<button class="second-button title-card">Boton secundario</button><br>
<button class="nav-orange-button title-card">Boton navegacion naranja</button><br>
<button class="nav-blue-button title-card">Boton navegacion azul</button><br>

<div class="border-with-gradient" style="border-radius: 16px; overflow: hidden;">
  <div class="content">
    <table style="width: 100%; height: 100%; border-radius: 16px; overflow: hidden;">
      <thead>
        <tr style="background-color: #DEEDFF; color: black;">
          <th>Cabecera 1</th>
          <th>Cabecera 2</th>
          <th>Cabecera 3</th>
          <th>Cabecera 4</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: white;">
          <td>Fila 1, Columna 1</td>
          <td>Fila 1, Columna 2</td>
          <td>Fila 1, Columna 3</td>
          <td>Fila 1, Columna 4</td>
        </tr>
        <tr style="background-color: lightgrey;">
          <td>Fila 2, Columna 1</td>
          <td>Fila 2, Columna 2</td>
          <td>Fila 2, Columna 3</td>
          <td>Fila 2, Columna 4</td>
        </tr>
        <tr style="background-color: white;">
          <td>Fila 3, Columna 1</td>
          <td>Fila 3, Columna 2</td>
          <td>Fila 3, Columna 3</td>
          <td>Fila 3, Columna 4</td>
        </tr>
        <tr style="background-color: lightgrey;">
          <td>Fila 4, Columna 1</td>
          <td>Fila 4, Columna 2</td>
          <td>Fila 4, Columna 3</td>
          <td>Fila 4, Columna 4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>