<div class="grid-body-container">
    <div class="back-home">
        <button class="button-back-home nav-blue-button title-card">Volver al inicio</button>
    </div>
    <div class="first-body-container">
        <app-aa-prueba-back></app-aa-prueba-back>
        <app-form-admin-impresora></app-form-admin-impresora>
        <app-form-admin-alta-usuario></app-form-admin-alta-usuario>
        <app-form-admin-incidencia></app-form-admin-incidencia>
        <app-form-tec-incidencia></app-form-tec-incidencia>
        <app-form-modificar-password></app-form-modificar-password>
        <app-form-modificar-usuario></app-form-modificar-usuario>
        <app-form-cli-alta-pedido></app-form-cli-alta-pedido>
        <app-form-cli-incidencia></app-form-cli-incidencia>
        <div>
            <table class="text-description card-shadow">
                <thead>
                    <tr>
                        <th>Nombre del producto</th>
                        <th>Cantidad</th>
                        <th>Prueba</th>
                        <th>Prueba</th>
                        <th>Prueba</th>
                        <th>Prueba</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Producto 1</td>
                        <td>10</td>
                        <td><img src="assets/images/icons/trash.png" alt="Icono de basura"></td>
                        <td>PRUEBA</td>
                        <td>PRUEBA</td>
                        <td>
                            <button class="button-form first-button title-card">Ver detalles</button>
                            <button class="button-form first-button title-card">Agregar pedido</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Producto 2</td>
                        <td>15</td>
                        <td><img src="assets/images/icons/trash.png" alt="Icono de basura"></td>
                        <td>PRUEBA</td>
                        <td>PRUEBA</td>
                        <td><button class="button-form first-button title-card">Añadir</button></td>
                    </tr>
                    <tr>
                        <td>Producto 3</td>
                        <td>20</td>
                        <td><img src="assets/images/icons/trash.png" alt="Icono de basura"></td>
                        <td>PRUEBA</td>
                        <td>PRUEBA</td>
                        <td><button class="button-form first-button title-card">Añadir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="first-body-container">
        <div class="title-first-body-container title-M">
            <p class="title-text">¡Bienvenido a FixPrint!</p>
        </div>
        <div class="slider-container">
            <app-slider></app-slider>
        </div>
    </div>
    <div class="second-body-container">
        <div class="title-second-body-container title-M">
            <p class="title-text">¿A dónde quieres ir?</p>
        </div>
        <div class="cards-container">
            <app-card></app-card>
        </div>
    </div>
</div>