<div class="title-form title-M">
    <p>Formulario para dar de alta un equipo</p>
</div>
<form class="form-admin-impresora-container form-container one-column"  action="">
    <div class="form-first-column title-card">
        <div class="input">
            <p>Seleccione usuario:</p>
            <select name="usuario" id="select-usuario" class="select text-card">
                <option value="1"><span>Opcion 1</span></option>
                <option value="2"><span>Opcion 2</span></option>
            </select>
        </div>
        <div class="input">
            <p>Número de serie:</p>
            <input type="text" class="input text-card">
        </div>
        <div class="input">
            <p>Marca:</p>
            <input type="text" class="input text-card">
        </div>
        <div class="input">
            <p>Modelo:</p>
            <input type="text" class="input text-card">
        </div>
        <button class="button-form first-button title-card">Dar de alta equipo</button>
        <p class="error text-card" *ngIf="error">Error al dar de alta nueva impresora</p>
        <p class="success text-card" *ngIf="success">Impresora dada de alta correctamente</p>
    </div>
</form>