<div class="grid-body-container">
    <div class="back-home">
        <button class="button-back-home nav-blue-button title-card">Volver al inicio</button>
    </div>
    <div class="first-body-container">
        <div class="profile-container">
            <app-profile-card></app-profile-card>
        </div>
    </div>
    <div class="second-body-container">
        <div class="title-second-body-container title-M">
            <p class="title-text">Tabla de equipos contratados</p>
        </div>
        <div class="table-container">
            <app-table-cli-equipos></app-table-cli-equipos>
        </div>
        <div class="button-container">
            <button class="button-large nav-blue-button title-card">Ver Histórico de pedidos</button>
        </div>
    </div>
</div>