<div class="grid-header-container">
    <div class="header-container">
        <div class="logo-container">
            <img src="assets/images/Logo.png" alt="Logo FixPrint" class="logo" routerLink="">
        </div>
        <div class="buttons-container">
            <button class="nav-orange-button title-card" routerLink="incidencias" *ngIf="userRole === 'cliente' || userRole === 'tecnico' || userRole === 'admin'">Incidencias</button>
            <button class="nav-orange-button title-card" routerLink="pedidos" *ngIf="userRole === 'cliente' || userRole === 'tecnico' || userRole === 'admin'">Pedidos</button>
            <button class="nav-orange-button title-card" routerLink="gestion" *ngIf="userRole === 'admin'">Gestión de usuarios</button>
            <button class="nav-orange-button title-card" routerLink="usuario" *ngIf="userRole === 'cliente' || userRole === 'tecnico'">Área de usuario</button>
            <button class="nav-blue-button title-card" routerLink="login" *ngIf="userRole === 'cliente' || userRole === 'tecnico' || userRole === 'admin'">Cerrar sesión</button>
        </div>
    </div>
</div>
<div class="nav-tablet-container">
    <div class="buttons-nav-tablet-container">
        <div class="buttons-nav-tablet-container1">
            <button class="nav-orange-button title-card" routerLink="incidencias" *ngIf="userRole === 'cliente' || userRole === 'tecnico' || userRole === 'admin'">Incidencias</button>
            <button class="nav-orange-button title-card" routerLink="pedidos" *ngIf="userRole === 'cliente' || userRole === 'tecnico' || userRole === 'admin'">Pedidos</button>
        </div>
        <div class="buttons-nav-tablet-container2">
            <button class="nav-orange-button title-card" routerLink="gestion" *ngIf="userRole === 'admin'">Gestión de usuarios</button>
            <button class="nav-orange-button title-card" routerLink="usuario" *ngIf="userRole === 'cliente' || userRole === 'tecnico'">Área de usuario</button>
            <button class="nav-blue-button title-card" routerLink="login" *ngIf="userRole === 'cliente' || userRole === 'tecnico' || userRole === 'admin'">Cerrar sesión</button>
        </div>
    </div>
</div>
