<div class="table-tec-incidencias">
    <table class="text-card card-shadow">
        <thead>
            <tr>
                <th>ID incidencia</th>
                <th>Equipo</th>
                <th>Comentario</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="loading">
                <td colspan="6">Cargando datos...</td>
            </tr>
            <tr *ngIf="error">
                <td colspan="6">{{ error }}</td>
            </tr>
            <tr *ngIf="!loading && !error && incidencias.length === 0">
                <td colspan="6">No hay datos disponibles</td>
            </tr>
            <tr *ngFor="let incidencia of incidencias">
                <td>{{ incidencia.idIncidencia }}</td>
                <td>{{ incidencia.marca + ' ' + incidencia.modelo }}</td>
                <td>{{ incidencia.comentarioTecnico  || 'No hay comentario' }}</td>
                <td>{{ incidencia.fechaInicio }}</td>
                <td>{{ incidencia.fechaFin }}</td>
            </tr>
        </tbody>
    </table>
</div>